/* Large screen styles */
#hamburgerBtn {
    display: none;
}

nav {
    display: block;
    background-color: var(--primary-color);
    width: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

nav a {
    display: inline-block;
}

.temple-grid {
    grid-template-columns: repeat(3, 1fr);
}

figure img {
    height: 300px;
}

figure:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
} 